# Dependencies
node_modules/
npm-debug.log*

# Build output
dist/
build/

# Environment variables
.env
.env.local

# Logs
logs/
*.log

# Database
*.sqlite
*.db

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Prisma
/prisma/migrations/dev.db*

# Coverage
coverage/
