registry=https://registry.npmmirror.com/
; registry=https://packages.aliyun.com/62e79d0c1dbb334b98bad630/npm/npm-registry/

; //packages.aliyun.com/62e79d0c1dbb334b98bad630/npm/npm-registry/:username=5fc4adb4ed01613630401e22
; //packages.aliyun.com/62e79d0c1dbb334b98bad630/npm/npm-registry/:_password=UXp1eFU9M0dWenVG
; //packages.aliyun.com/62e79d0c1dbb334b98bad630/npm/npm-registry/:always-auth=true

shamefully-hoist=true
strict-peer-dependencies=false
engine-strict=true

canvas_binary_host_mirror=https://registry.npmmirror.com/-/binary/canvas
