always-auth=true
registry=https://packages.aliyun.com/67f4e82f228615de936e3c4e/npm/npm-registry/
https://packages.aliyun.com/67f4e82f228615de936e3c4e/npm/npm-registry/:username=67f4e7cc36ec628799cff38b
https://packages.aliyun.com/67f4e82f228615de936e3c4e/npm/npm-registry/:_password=RV9zaEh2KC1mTWdp

shamefully-hoist=true


canvas_binary_host_mirror=https://registry.npmmirror.com/-/binary/canvas
